In [1]:
print('Hello, world!')

Hello, world!

In [2]:
b = [1,2,3]

In [3]:
b?

In [8]:
print?

In [13]:
def add_numbers(a,b):
    """
    Add two numbers together
    Returns
    -------
    the_sum : type of arguments
    
    """
    return a + b

In [14]:
add_numbers?

In [15]:
add_numbers??

In [16]:
import numpy as np

In [17]:
np.*load*?

In [18]:
def f(x,y,z):
    return (x + y)/z

In [20]:
a = np.random.randn(100, 100)

In [21]:
%timeit np.dot(a, a)

33.8 µs ± 1.38 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [23]:
results = []
file_handle = []
for line in file_handle:
 # keep the empty lines for now
 # if len(line) == 0:
 # continue
 results.append(line.replace('foo', 'bar'))

In [24]:
a = [1, 2, 3]

In [25]:
b = a

In [26]:
a.append(4)

In [27]:
b

[1, 2, 3, 4]

In [28]:
data = [1,2,3]

In [30]:
def append_element(some_list, element):
    some_list.append(element)

In [31]:
append_element(data,4)

In [32]:
data

[1, 2, 3, 4]

In [33]:
a = 5

In [34]:
type(a)

int

In [35]:
a = 'foo'

In [36]:
type(a)

str

In [37]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [38]:
a = 4.5

In [39]:
b = 2

In [41]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [42]:
a/b

2.25

In [43]:
a = 5

In [44]:
a=5; b=4.5
isinstance(a, (int,float))

True

In [45]:
isinstance(b, (int,float))

True

In [46]:
a = 'foo'

In [47]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [49]:
isiterable('a string')

True

In [52]:
isiterable([1,2,3])

True

In [53]:
isiterable(5)

False

In [54]:
5-7

-2

In [55]:
12 + 21.5

33.5

In [56]:
5 <= 2

False

In [57]:
a = [1,2,3]

In [58]:
b = a

In [59]:
c = list(a)

In [60]:
a is b

True

In [61]:
a is not c

True

In [62]:
a == c

True

In [63]:
a = None

In [64]:
a is None

True

In [65]:
a_list = ['foo', 2, [4, 5]]

In [66]:
a_list[2] = (3, 4)

In [67]:
a_list

['foo', 2, (3, 4)]

In [69]:
a_tuple = (3, 5, (4, 5))

In [71]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [72]:
ival = 17239871

In [73]:
ival ** 6

26254519291092456596965462913230729701102721

In [74]:
fval = 7.243

In [75]:
fval2 = 6.78e-5

In [76]:
3/2

1.5

In [77]:
3//2

1

In [78]:
a = 'one way of writiing a string'
b = 'another way'

In [79]:
c = """
This is a longer string that
spans multiple lines
"""

In [80]:
c.count('\n')

3

In [82]:
a = 'this is a string'

In [83]:
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [84]:
b = a.replace('string', 'longer string')

In [85]:
b

'this is a longer string'

In [86]:
a

'this is a string'

In [87]:
a = 5.6

In [88]:
s = str(a)

In [89]:
print(s)

5.6

In [90]:
s = 'python'

In [91]:
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [92]:
s[:3]

'pyt'

In [93]:
s = '12\\34'

In [94]:
print(s)

12\34

In [95]:
s = r'this\has\no\special\characters'

In [96]:
s

'this\\has\\no\\special\\characters'

In [97]:
a = 'this is the first half '

In [98]:
b = 'and this is the second half'

In [99]:
a + b

'this is the first half and this is the second half'

In [100]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [101]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [102]:
val = 'espanol'

In [103]:
val

'espanol'

In [104]:
val_utf8 = val.encode('utf-8')

In [105]:
val_utf8

b'espanol'

In [106]:
type(val_utf8)

bytes

In [107]:
val_utf8.decode('utf-8')

'espanol'

In [108]:
val_utf8.decode('utf-8')

'espanol'

In [109]:
val.encode('latin1')

b'espanol'

In [110]:
val.encode('utf-16')

b'\xff\xfee\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [111]:
val.encode('utf-16le')

b'e\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [112]:
bytes_val = b'this is bytes'

In [113]:
bytes_val

b'this is bytes'

In [114]:
decoded = bytes_val.decode('utf8')

In [115]:
decoded

'this is bytes'

In [116]:
True and True

True

In [117]:
True or False

True

In [118]:
s = '3.14159'

In [119]:
fval = float(s)

In [120]:
type(fval)

float

In [121]:
int(fval)

3

In [122]:
bool(fval)

True

In [123]:
bool(0)

False

In [125]:
a = None

In [126]:
a is None

True

In [127]:
b= 5

In [129]:
b is not None

True

In [130]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    if c is not None:
        result = result * c
    return result

In [131]:
type(None)

NoneType

In [132]:
from datetime import datetime, date, time

In [133]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [134]:
dt.day

29

In [135]:
dt.minute

30

In [138]:
dt.date()

datetime.date(2011, 10, 29)

In [139]:
dt.time()

datetime.time(20, 30, 21)

In [140]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [141]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [142]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [143]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [144]:
delta = dt2 - dt

In [145]:
delta

datetime.timedelta(days=17, seconds=7179)

In [146]:
type(delta)

datetime.timedelta

In [147]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [148]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [151]:
a = 5; b = 7

In [152]:
c = 8; d = 4

In [153]:
if a < b or c > d:
    print('Made it')

Made it

In [154]:
4 > 3 > 2 > 1

True

In [157]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [158]:
range(10)

range(0, 10)

In [159]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [161]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [162]:
x = 5

In [163]:
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'